<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Allow access to existing files/directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Route everything else to index.php
    RewriteRule ^ index.php [L]
</IfModule>
